* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  
  body {
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .profile-header {
    width: 100%;
    height: 220px;
    background: linear-gradient(135deg,  #ffe1f5 40%, #370150 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  

  .profile-card {
    background: #fff;
    width: 90%;
    max-width: 400px;
    margin-top: -80px;
    padding: 60px 20px 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
  }
  
  
  .profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid white;
    object-fit: cover;
  }
  

  .profile-name {
    font-size: 1.4rem;
    margin-top: 10px;
    color: #444;
  }
  

  .profile-bio {
    font-size: 0.9rem;
    color: #777;
    margin-top: 5px;
  }
  

  .jogos-favoritos {
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  }
  
  .jogos-favoritos h3 {
    margin-bottom: 10px;
  }
  
  .jogos-favoritos ul {
    list-style: none;
  }
  
  .jogos-favoritos li {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  

  .botoes {
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .edit-btn,
  .logout-btn {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
  }

  .button {
    width: 90%;
    max-width: 200px;
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 12px;
    font-size: 1rem;
    border: none;
    background-color: #ffffff; 
    padding: 10px 20px;
    border-radius: 12px; 
    border: none;
    border-radius: 10px;
  }
  

  .edit-btn {
    background: #370150;
  }
  
  .edit-btn:hover {
    background: #ffe1f5;
  }
  
  .logout-btn {
    background:  #370150;
  }
  
  .logout-btn:hover {
    background:#ffb9f3;
  }

  @media (min-width: 600px) {
    .profile-card {
      max-width: 500px;
      padding: 70px 30px 30px;
    }
  
    .profile-img {
      width: 140px;
      height: 140px;
      top: -70px;
    }
  
    .profile-name {
      font-size: 1.8rem;
    }
  }
  

  @media (min-width: 1024px) {
    body {
      flex-direction: column;
      align-items: center;
    }
  
    .profile-header {
      height: 260px;
    }
  
    .profile-card {
      max-width: 600px;
    }
  
    .jogos-favoritos,
    .botoes {
      max-width: 600px;
    }
  }
  